// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container_admin{
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    aside{
        width: 10%;
    }
    main{
        width: 60%;
    }
}